body {
    background-image: url("images/90s_pattern.jpg");
}

.main_frame {
    max-width: 950px;
    min-width: 750px;
    display: grid;
    grid-template-rows: 1fr 12fr;
    margin: auto;
    box-shadow: 10px 10px rgba(0, 0, 0,0.2);
    border-left: 8px solid #050080;
    border-right:8px solid #050080;
    border-bottom: 8px solid #050080;
    border-radius: 7px;
}

.titlebar {
    grid-row: 1 / 2;
    background-color:#050080;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 6px;
    display: grid;
    grid-template-columns: 1fr 24fr;
}

.header_box {
    grid-column: 1 / 2;
    background-color: lightgrey;
    border-bottom: 1px solid #000;
}

.header_title {
    grid-column: 2 / 3;
}


.main_ui_container {
    grid-row: 2 / 3;
    padding: 20px;
    background-color: #fff;
    display: grid;
    grid-template-areas:
    "inputs outputs"
    "controls controls";
    grid-gap: 10px;
}


.ui_input_container {
    grid-area: inputs;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ui_output_container {
    grid-area: outputs;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
}

.results {
    padding: 20px;
    font-size: 14px;
}

.box-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.box-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.box-3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.box-4 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.box-5 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.box-6 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.results span {
    display: block;
}

.results_value {
    font-size: 24px;
    font-weight: bolder;
    color: #050080;
}

.ui_controls_container {
    grid-area: controls;
}

.input_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
    padding: 4px;
}

.input_wrapper > label {
    grid-column: 1 / 2;
}

.input_wrapper > input {
    margin-left: 6px;
    grid-column: 2 / 3 ;
}